html{
  background-color: #ffffff;
}

.top{
  width: auto;
  text-align: center;
}

.title_edu, .title_eco, .title_sys, .title_tou{
  position: relative;
}

.title_edu h2, .title_eco h2, .title_sys h2, .title_tou h2{
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  font-size: 25px;
  color: #292929;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

.title_edu img, .title_eco img, .title_sys img, .title_tou img{
  text-align: center;
  width: 100%;
  opacity: 0.2;
  margin-top: 20px;
}

/*.title_edu p, .title_eco p, .title_sys p, .title_tou p{
  margin-top: 0;
  position: absolute;
  top: 75%;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: lighter;
}*/

.edu, .eco, .sys, .tou{
 position: relative;
 margin-bottom: 50px;
}

.edu a, .eco a, .sys a, .tou a{
  font-size: 18px;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: regular;
  color: #494949;
}

.edu h3, .eco h3, .sys h3, .tou h3{
  padding: 0.5em;
  color: #494949;
  background: #ffeddb;
  border-left: solid 5px #ffaf58;
 font-family: Hiragino Kaku Gothic ProN;
 font-weight: Medium:
}

.edu img{
  height: auto;
  display: inline-block;
  text-align: center;
}

.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.sample::before{
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #ffbf7f;
    border-right: 2px solid #ffbf7f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.title{
  text-align: center;
  margin-bottom: 20px;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: regular;
  color: #494949;
}

.title h2{
  position: relative;
  padding: 0.6em;
  background: #ffeddb;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  color: #494949;
}

.title_gakubu{
  text-align: center;
  display: inline-block;
  padding: 0;
}

.title h3{
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  font-size: 13px;
  color: #494949;
}

.title li{
  display: inline-block;
  list-style: none;
  margin: 8px;
}


.daigaku{
  background: #f18b00;
  width: auto;
  text-align: center;
}

.daigaku p{
  margin: 0;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
}

.daigaku img{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 上に戻るボタン */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}


.title{
  text-align: center;
  margin-bottom: 20px;
}

/*.title h2{
  position: relative;
  padding: 0.6em;
  background: #ffeddb;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  color: #494949;
}*/

.title h4{
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  color: #494949;
}

.title_gakubu{
  text-align: center;
  display: inline-block;
  padding: 0;
  margin-top: 0;
}

.title li{
  display: inline-block;
  list-style: none;
  margin: 8px;
}


.modoru{
  text-align: center;
  background: #ffeddb;
  position: relative;
  padding: 0.3em;
}

.modoru h3{
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: regular;
  color: #494949;
}
