html{
  background-color: #fffcf9;
}

.ado, .kamoku, .money, .gakubu, .syutugan, .news, .siryou, .kako{
 position: relative;
 margin-bottom: 50px;
}

.ado a, .kamoku a, .money a, .gakubu a, .syutugan a, .news a, .siryou a, .kako a{
  font-size: 20px;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: regular;
  color: #494949;
}

.ado h3, .kamoku h3, .money h3, .gakubu h3, .syutugan h3, .siryou h3, .title_gakubu h4, .kako h3{
  padding: 0.5em;
  color: #494949;
  background: #ffeddb;
  border-left: solid 5px #ffaf58;
 font-family: Hiragino Kaku Gothic ProN;
 font-weight: Medium:
}


.ado p{
  display: block;
  margin: auto;
}

.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.sample::before{
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #ffbf7f;
    border-right: 2px solid #ffbf7f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top{
  width: auto;
  text-align: center;
}

.title_nyuusi{
  position: relative;
}

.title_nyuusi h2{
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  color: #494949;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

.title_nyuusi img{
  width: 100%;
  opacity: 0.3;
}

.title{
  text-align: center;
  margin-bottom: 50px;
}

.title h2{
  position: relative;
  padding: 0.6em;
  background: #ffeddb;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  color: #494949;
}

/*.title h2:after{
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #ffaf58;
  width: 0;
  height: 0;
}*/

.qa li{
  display: inline-block;
  list-style: none;
  margin: 10px;
}

.qa{
  padding: 0;
}

.qa h3{
  margin: 0px;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: regular;
  font-size: 20px;
  color: #494949;
}


.daigaku{
  background: #f18b00;
  width: auto;
  text-align: center;
}

.daigaku p{
  margin: 0;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
}

.daigaku img{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 上に戻るボタン */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}


.title{
  text-align: center;
  margin-bottom: 20px;
}

/*.title h2{
  position: relative;
  padding: 0.6em;
  background: #ffeddb;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  color: #494949;
}*/

.title h4{
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: Bold;
  color: #494949;
}

.title_gakubu{
  text-align: center;
  display: inline-block;
  padding: 0;
  margin-top: 0;
}

.title li{
  display: inline-block;
  list-style: none;
  margin: 8px;
}
